@import "~bootstrap/dist/css/bootstrap.min.css";

.bigCounter div {
    text-align: center;
}

.bigCounter div {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    background: white;
}